.commit {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow:5px 5px 10px rgb(141, 139, 139);
    padding: 15px;
    margin-bottom: 10px;


    &__header {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 10px;

        & h3 {
            margin-bottom: 5px;

        }

        & div {
            color: grey;
            font-size: 14px;
        }
    }
}